.addBtn{
    font-size: 2rem;
    color: black;
    padding: 10px;
    background: linear-gradient(-65deg, #06a7feb6, #25a6708e);
    border-radius: 20px;
    opacity: 0.9;
}

.addBtn:hover{
    opacity: 1;
}

.btnContainer{
    width: 200px;
    
}

.FeatureContainer{
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
}

.searchContainer{
    margin-bottom: 0px;
}

.FlexContainer{
    flex:1;
}

.deleteBtn{
    padding:8px 20px 8px 20px;
    color:#eb5a5a;
    transition: 0.2s;
    border: none;
    background-color:transparent;
    cursor: pointer;
    display: inline-block;
}

.deleteBtn:hover{
    background: #fff;
    border-radius: 15px;
    transition: 0.2s;
}

.deleteBtn:hover .deleteText{
    color:#f03333;
}

.editBtn{
    padding:8px 20px 8px 20px;
    color: #7171ed;
    cursor: pointer;
    display: inline-block;
}

.editBtn:hover .editText{
    color: #2828d1;
    
}

.editBtn:hover{
    background: #fff;
    border-radius: 15px;
    transition: 0.2s;
}

.table100{
    font-size: 1.8rem;
    margin:0 auto;
    text-align:center;
    border-collapse:collapse;
    min-width: 400px;
    overflow:hidden;
    font-family: Poppins-Regular;
    width:100%;
}

.table100 tbody td
{
    font-family: Poppins-Regular;
    padding:12px 15px;
}

.Table100Head{
    background: linear-gradient(-65deg, #06a7feb6, #25a6708e);
    color: black;
}

.Table100Head th{
    font-family: Poppins-Regular;
    padding:12px 15px;
}

.Table100Body td{
    max-width:200px;
    overflow-wrap: break-word;
}

.Table100Body tr:nth-child(2n){
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
    
}

.Table100Body tr{
    transition:0.3s;
}

.Table100Body tr:hover{
    background-color: rgba(204, 204, 204);
    transition:0.3s;
}


@media(max-width: 760px){
    .table100,
    .table100 thead,
    .table100 tbody,
    .table100 th,
    .table100 td,
    .table100 tr{
        display: block; 
    }

    .content{
        margin-left:0px;
        transition:0.5s;
        width:100%;
        padding-bottom: 30px;
    }

    .Table100Head{
        position: absolute;
		top: -9999px;
		left: -9999px;
    }

    .table100 tbody td{
        border-bottom: 1px solid rgba(204, 204, 204, 0.452);
		position: relative;
        padding-left: 45%;
        max-width:100%;
    }

    .Table100Body td:before{
        /* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 0px;
		width: 40%; 
        font-weight: 600;
		padding: 12px 5px;
		white-space: nowrap;
    }

    .table100 tbody td:nth-of-type(1):before { content: "Order"; text-align:left; padding-left:15px;}
	.table100 tbody td:nth-of-type(2):before { content: "Name"; text-align:left; padding-left:15px;}
	.table100 tbody td:nth-of-type(3):before { content: "Date create"; text-align:left; padding-left:15px;}
	.table100 tbody td:nth-of-type(4):before { content: "Task"; text-align:left; padding-left:15px;}

}