.table{
    font-size: 2rem;
    width:80%;
    margin:0 auto;
    text-align:left;
    border-collapse:collapse;
    min-width: 400px;
    overflow:hidden;
    display:block;
    table-layout:fixed;
}

.table tbody td{
    font-family: Poppins-Regular;
    padding:12px 15px;
    overflow: hidden;
    overflow-wrap: anywhere;
    transition:all ease 0.3s;
}

.table tbody th{
    color:black;
    min-width:170px;
    width:40%;
    transition:all ease 0.3s;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
    transition:all ease 0.3s;
}

.taskStatus{
    text-align:center;
    margin-top:50px;
}

.content{
    width:90%;
    margin:0 auto;
    max-width: 1310px;
}

.table100{
    font-size: 1.8rem;
    margin:0 auto;
    text-align:center;
    border-collapse:collapse;
    min-width: 400px;
    overflow:hidden;
    font-family: Poppins-Regular;
    width:100%;
}

.table100 tbody td
{
    font-family: Poppins-Regular;
    padding:12px 15px;
}

.Table100Head{
    background: linear-gradient(-65deg, #06a7feb6, #25a6708e);
    color: black;
}

.Table100Head th{
    font-family: Poppins-Regular;
    padding:12px 15px;
}

.Table100Body td{
    max-width:200px;
    overflow-wrap: break-word;
}

.Table100Body tr:nth-child(2n){
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
    
}

.Table100Body tr{
    transition:0.3s;
}

.Table100Body tr:hover{
    background-color: rgba(204, 204, 204);
    transition:0.3s;
}


.LinkToProject,.LinkToGroup,.LinkToUser{
    font-size:  1.8rem;
    font-family: Poppins-Regular;
    font-weight: 600;
    transition: 0.2s;
    padding:6px;
}

.LinkToProject{
    color: rgba(252, 49, 49, 0.7);
}

.LinkToProject:hover{
    color: rgba(255, 0, 0, 1);
    background: #fff;
    border-radius: 15px;
    transition: 0.2s;
    
}

.LinkToGroup{
    color: rgba(51, 112, 243, 0.7);
}

.LinkToGroup:hover{
    color: rgb(0, 81, 255);
    background: #fff;
    border-radius: 15px;
    transition: 0.2s;
}

.LinkToUser{
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.LinkToUser:hover{
    color: rgba(0, 0, 0, 1);
    background: #fff;
    border-radius: 15px;
    transition: 0.2s;
}

.unActive{
    opacity: 0;
    transition:all ease 0.3s;
    line-height: 0rem;
    pointer-events: none;
    border:none;
    border-collapse:none;
}



.groupName,.projectName{
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition:0.3s;
}

.groupName{
    background-color:rgba(51, 112, 243, 0.4);
}

.groupName:hover{
    background-color:rgba(51, 112, 243, 0.6);
    transition:0.3s;
}

.projectName{
    background-color: rgba(252, 49, 49, 0.4);
}

.projectName:hover{
    background-color:rgba(252, 49, 49, 0.6);
    transition:0.3s;
}

@media (max-width: 1048px) {
    .content{
        margin-left:0px;
        transition:0.5s;
        width:100%;
    }
}

@media(max-width: 760px){
    .table100,
    .table100 thead,
    .table100 tbody,
    .table100 th,
    .table100 td,
    .table100 tr{
        display: block; 
    }

    .LinkToProject,.LinkToGroup,.LinkToUser{
        padding:0;
    }

    .content{
        margin-left:0px;
        transition:0.5s;
        width:100%;
        padding-bottom: 30px;
    }

    .Table100Head{
        position: absolute;
		top: -9999px;
		left: -9999px;
    }

    .table100 tbody td{
        border-bottom: 1px solid rgba(204, 204, 204, 0.452);
		position: relative;
        padding-left: 45%;
        max-width:100%;
    }

    .Table100Body td:before{
        /* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 0px;
		width: 40%; 
        font-weight: 600;
		padding: 12px 5px;
		white-space: nowrap;
    }

    /* td:nth-of-type(1):before { content: "Order"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Create User"; }
	td:nth-of-type(4):before { content: "Date create"; }
	td:nth-of-type(5):before { content: "Project"; } */
}

